* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
.logo {
	display: flex;
	margin-right: auto;
	transition: opacity 0, 4s ease;

	display: flex;
}
.logo:hover {
	opacity: 0.8;
}
.logo:active {
	opacity: 0.6;
}
.header {
	padding-top: 16px;
	padding-bottom: 16px;
}
.container {
	max-width: 1140px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.header-container {
	display: flex;
	align-items: center;
}
.header-list {
	display: flex;
	margin-right: 32px;
}
.header-link:hover {
	color: #ff7500;
}
.header-link:active {
	opacity: 0.6 ease;
}

.header-item:not(:last-child) {
	margin-right: 32px;
}
.header-link {
	color: #000;
	width: 92;
	height: 15;
	angle: 0 deg;
	opacity: 1;
  transition: color 0,4s ease
}
.header-link.active {
	border-bottom: 3px solid #ff7500;
	padding-bottom: 4px;
}

.btn {
	border: none;
	background-color: #ff7500;
	padding: 12px 24px;
	border-radius: 4px;
	color: #ffffff;
}
